<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <%= simple_form_for @search, url: search_path do |f| %>
        <%= f.input :catalog_number %>
        <%= f.button :submit %>
      <% end %>

      <br />

      <% @results.each do |result| %>
        <%= debug tmp_give_me_a_name(result) %>
        <br />
      <% end if @results %>

    </div>
  </div>
</div>
