<div class="container">
  <div class="jumbotron">
    <h1>Прайсер</h1>
    <p class="lead">Интеллектуальный инструмент для работы с прайсами автозапчастей. Выберите или перетащите сюда прайс.</p>
    <%= render 'uploads/form' %>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <div style="margin-bottom: 30px">
        <h4>Розничным магазинам</h4>
        <p>Предложение для менеджеров магазинов, которые самостоятельно проявили инициативу и каким-то образом узнали об этом сайте. Увеличение личных продаж</p>
      </div>

      <div style="margin-bottom: 30px">
        <h4>Проценка склада</h4>
        <p>Загрузив прайс они могут сравнить стоимость своих товаров. Как со всеми доступными в системе, так и выборочными, например только, которые загрузили они. Используется так же для принятия решения о подключении нового поставщика.</p>
      </div>

      <div style="margin-bottom: 30px">
        <h4>Оптовым магазинам</h4>
        <p>Специальный режим поиска для посетителей сайта для поиска новых поставщиков. Условия доставки, закупа и т.д.</p>
      </div>
    </div>

    <div class="col-lg-6">
      <div style="margin-bottom: 30px">
        <h4>Собственное пространство прайсов</h4>
        <p>Загрузив несколько прайсов к себе в пространство можно использовать как поисковик только по своим поставщикам.</p>
      </div>

      <div style="margin-bottom: 30px">
        <h4>Поиск автозапчастей</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
      </div>

      <div style="margin-bottom: 30px">
        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; Pricer 2015</p>
  </footer>

</div> <!-- /container -->
