<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= link_to "Далее", list_price_path(scan: @sscan_result[0]) %>
      <br />
      <br />

      <% @results.each do |result| %>
        <%= debug tmp_give_me_a_name(result) %>
      <% end %>
    </div>
  </div>
</div>
