<!-- The fileinput-button span is used to style the file input field as button -->
<span class="btn btn-lg btn-success fileinput-button">
    <i class="glyphicon glyphicon-open-file"></i>
    <span>Загрузить прайс...</span>
    <!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" name="upload[price]" multiple>
</span>
<br>
<br>
<!-- The global progress bar -->
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>
<!-- The container for the uploaded files -->
<div id="files" class="files"></div>

<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    $('#fileupload').fileupload({
        url: '/uploads',
        dataType: 'json',
        //maxChunkSize: 10000000,
        //done: function (e, data) {
        //    $.each(data.result.files, function (index, file) {
        //        $('<p/>').text(file.name).appendTo('#files');
        //    });
        //},
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>

<!--
<%= simple_form_for(@upload, url: uploads_path, method: :create) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
-->
